---

---

<footer class="footer footer-center bg-base-300 text-base-content p-4">
  <aside>
    <p>
      Copyright © {new Date().getFullYear()} Codex Studiosorum Bruxellensis - Made
      by <a href="https://github.com/LucasMiserez" target="_blank"
        >Lucas Miserez</a
      >
    </p>
  </aside>
</footer>
