---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="nl" data-theme="cmyk">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>CSB - {title}</title>
  </head>
  <body>
    <div class="flex flex-col justify-between h-screen">
      <div>
        <Header />
        <div class="mx-10 mt-3 lg:mx-40 lg:mt-10 mb-4">
          <slot />
        </div>
      </div>
      <Footer />
    </div>
  </body>
</html>
